Framework/Service References/HelloService/ServiceVersion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://PragimTech.com/ServiceVersion1" elementFormDefault="qualified" targetNamespace="http://PragimTech.com/ServiceVersion1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DataAccess" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetDeptLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetDeptLstResult" nillable="true" type="q2:ArrayOfDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDesignLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDesignLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetDesignLstResult" nillable="true" type="q4:ArrayOfDesignation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenderLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenderLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetGenderLstResult" nillable="true" type="q6:ArrayOfGender" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguageLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguageLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetLanguageLstResult" nillable="true" type="q8:ArrayOfLanguage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetLocLstResult" nillable="true" type="q10:ArrayOfLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalutLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalutLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetSalutLstResult" nillable="true" type="q12:ArrayOfSalutation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetTeamLstResult" nillable="true" type="q14:ArrayOfTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetEmployeeLstResult" nillable="true" type="q16:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q17:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetUserLstResult" nillable="true" type="q18:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonModeLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q19:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonModeLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetPersonModeLstResult" nillable="true" type="q20:ArrayOfPerson_Mode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q21:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetPersonCompanyResult" nillable="true" type="q22:ArrayOfPerson_Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q23:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetCompanyModeResult" nillable="true" type="q24:ArrayOfCompanyMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealStageLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q25:guid" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Id" type="q26:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealStageLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetDealStageLstResult" nillable="true" type="q27:ArrayOfDealStageName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLstPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q28:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLstPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetLstPersonResult" nillable="true" type="q29:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLstCampaign">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q30:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLstCampaignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetLstCampaignResult" nillable="true" type="q31:ArrayOfCampaign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignProductLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CampaignId" type="q32:guid" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q33:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignProductLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetCampaignProductLstResult" nillable="true" type="q34:ArrayOfCampaignProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSQuesModeLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q35:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSQuesModeLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetDSQuesModeLstResult" nillable="true" type="q36:ArrayOfDealStageQuestionMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q37:guid" />
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PersonId" type="q38:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetOnePersonResult" nillable="true" type="q39:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignPersonLead">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q40:guid" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="PersonTbl" nillable="true" type="q41:Person" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="PersonLeadTbl" nillable="true" type="q42:PersonLead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignPersonLeadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignPersonLeadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCMTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q43:CaseManagment_Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCMTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCMTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCMFollowers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q44:CaseManagment_Followers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCMFollowersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCMFollowersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCMNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q45:CaseManagment_Note" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCMNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCMNoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCMNoteFollowers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q46:CaseManagment_Note_Followers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCMNoteFollowersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCMNoteFollowersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMFollowers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q47:guid" />
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CMId" type="q48:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMFollowersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetCMFollowersResult" nillable="true" type="q49:ArrayOfCaseManagment_Followers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMTaskCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q50:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMTaskCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetCMTaskCategoryResult" nillable="true" type="q51:ArrayOfCaseManagment_TaskCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMTaskLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q52:guid" />
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CMId" type="q53:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMTaskLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetCMTaskLstResult" nillable="true" type="q54:ArrayOfCaseManagment_Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMNoteLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q55:guid" />
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CMId" type="q56:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMNoteLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetCMNoteLstResult" nillable="true" type="q57:ArrayOfCaseManagment_Note" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoteComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q58:guid" />
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="NoteId" type="q59:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoteCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetNoteCommentsResult" nillable="true" type="q60:ArrayOfCaseManagment_Note_Comment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaseMnagementLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q61:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaseMnagementLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetCaseMnagementLstResult" nillable="true" type="q62:ArrayOfCaseManagment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMCaseOrginLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q63:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMCaseOrginLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetCMCaseOrginLstResult" nillable="true" type="q64:ArrayOfCaseManagment_CaseOrgin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMCasePriorityLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q65:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMCasePriorityLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetCMCasePriorityLstResult" nillable="true" type="q66:ArrayOfCaseManagment_Priority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMCaseStatusLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q67:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMCaseStatusLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetCMCaseStatusLstResult" nillable="true" type="q68:ArrayOfCaseManagment_Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMCaseTypeLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q69:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMCaseTypeLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetCMCaseTypeLstResult" nillable="true" type="q70:ArrayOfCaseManagment_Type" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonLeadLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q71:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonLeadLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetPersonLeadLstResult" nillable="true" type="q72:ArrayOfPersonLead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q73:CaseManagment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfOpenOppurtunities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q74:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfOpenOppurtunitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetListOfOpenOppurtunitiesResult" nillable="true" type="q75:ArrayOfPersonLead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnePersonLead">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q76:guid" />
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PersonLeadId" type="q77:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnePersonLeadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetOnePersonLeadResult" nillable="true" type="q78:PersonLead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q79:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditPersonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfProductsByLead">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q80:guid" />
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PLID" type="q81:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfProductsByLeadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetListOfProductsByLeadResult" nillable="true" type="q82:ArrayOfPersonLeadProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfProductsdoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q83:guid" />
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CampaignProdId" type="q84:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfProductsdocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetListOfProductsdocResult" nillable="true" type="q85:ArrayOfCampaignProductDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLeadNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q86:PersonLeadNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLeadNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLeadNoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WonStage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q87:guid" />
        <xs:element minOccurs="0" name="ActualValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SanctionedValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClosedDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="PersonLeadId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WonStageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WonStageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lost_Revert_Drop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q88:guid" />
        <xs:element minOccurs="0" name="PersonLeadId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MovementMode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lost_Revert_DropResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lost_Revert_DropResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeQueueLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q89:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeQueueLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetEmployeeQueueLstResult" nillable="true" type="q90:ArrayOfEmployeeQueue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddemployeeQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q91:EmployeeQueue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddemployeeQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddemployeeQueueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditemployeeQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q92:EmployeeQueue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditemployeeQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditemployeeQueueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAssignedToPersonLead">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Id" nillable="true" type="q93:guid" />
        <xs:element xmlns:q94="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Assignedto" nillable="true" type="q94:guid" />
        <xs:element xmlns:q95="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q95:guid" />
        <xs:element minOccurs="0" name="Modifiedby" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAssignedToPersonLeadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAssignedToPersonLeadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q96:Organization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOrganizationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q97:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Addemployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="obj" nillable="true" type="q98:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddemployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddemployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Addrole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q99:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddroleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddroleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q100:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="ListRolesResult" nillable="true" type="q101:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="role">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q102:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="roleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="roleResult" nillable="true" type="q103:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignRoleTo_User">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoleId" type="xs:int" />
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ModuleId" nillable="true" type="q104:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignRoleTo_UserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignRoleTo_UserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listofusers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q105:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListofusersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="ListofusersResult" nillable="true" type="q106:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetModuleListResult" nillable="true" type="q107:ArrayOfModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignModuleTo_Role">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoleId" type="xs:int" />
        <xs:element xmlns:q108="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ModuleId" nillable="true" type="q108:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignModuleTo_RoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignModuleTo_RoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q109:Module" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddModuleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleIdBasedOnRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleIdBasedOnRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetModuleIdBasedOnRoleResult" nillable="true" type="q110:ArrayOfModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfDealStageName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q111:guid" />
        <xs:element xmlns:q112="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PipeLineId" type="q112:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfDealStageNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetListOfDealStageNameResult" nillable="true" type="q113:ArrayOfDealStageName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfDealStageQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q114:guid" />
        <xs:element xmlns:q115="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DealStageNameId" type="q115:guid" />
        <xs:element minOccurs="0" name="movementMode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfDealStageQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetListOfDealStageQuestionsResult" nillable="true" type="q116:ArrayOfDealStageQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfDealStageQuestionsText_Values">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q117:guid" />
        <xs:element xmlns:q118="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="QuestionId" type="q118:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfDealStageQuestionsText_ValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetListOfDealStageQuestionsText_ValuesResult" nillable="true" type="q119:ArrayOfDealStageQuestionValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDYnamicQuestions_answer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q120:DealStageAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDYnamicQuestions_answerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDYnamicQuestions_answerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfDealStagePersonLead">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q121:guid" />
        <xs:element xmlns:q122="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DealStageNameId" type="q122:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfDealStagePersonLeadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetListOfDealStagePersonLeadResult" nillable="true" type="q123:ArrayOfPersonLead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovetoNextDealStage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q124:guid" />
        <xs:element xmlns:q125="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DealStageNameId" type="q125:guid" />
        <xs:element xmlns:q126="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PersonLeadId" type="q126:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovetoNextDealStageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MovetoNextDealStageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovetoPreviousDealStage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q127:guid" />
        <xs:element xmlns:q128="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DealStageNameId" type="q128:guid" />
        <xs:element xmlns:q129="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PersonLeadId" type="q129:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovetoPreviousDealStageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MovetoPreviousDealStageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="won_lost_dropped_Revert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q130:guid" />
        <xs:element xmlns:q131="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DealStageNameId" type="q131:guid" />
        <xs:element xmlns:q132="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PersonLeadId" type="q132:guid" />
        <xs:element minOccurs="0" name="movementMode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="won_lost_dropped_RevertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="won_lost_dropped_RevertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCampaignBankType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q133:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCampaignBankTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="ListCampaignBankTypeResult" nillable="true" type="q134:ArrayOfCampaignBankType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCampaignType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q135:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCampaignTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="ListCampaignTypeResult" nillable="true" type="q136:ArrayOfCampaignType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediasourceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q137:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediasourceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetMediasourceListResult" nillable="true" type="q138:ArrayOfMediaSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCampaign">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q139:Campaign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCampaignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCampaignResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCampaignProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q140:CampaignProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCampaignProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCampaignProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCampaignMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q141:CampaignMedia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCampaignMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCampaignMediaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q142:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetCampaignListResult" nillable="true" type="q143:ArrayOfCampaign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignProductList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q144:guid" />
        <xs:element xmlns:q145="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="campaignId" type="q145:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetCampaignProductListResult" nillable="true" type="q146:ArrayOfCampaignProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignMediaList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q147:guid" />
        <xs:element xmlns:q148="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="campaignId" type="q148:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignMediaListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetCampaignMediaListResult" nillable="true" type="q149:ArrayOfCampaignMedia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getcampaignappoinments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q150:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getcampaignappoinmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="getcampaignappoinmentsResult" nillable="true" type="q151:ArrayOfP_CampaignAppoinment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Getexception">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q152:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetexceptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetexceptionResult" nillable="true" type="q153:ArrayOfDealStageAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfPersonLead_ONA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q154:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfPersonLead_ONAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetListOfPersonLead_ONAResult" nillable="true" type="q155:ArrayOfPersonLead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonleaddetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q156:guid" />
        <xs:element xmlns:q157="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LeadId" type="q157:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonleaddetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetPersonleaddetailsResult" nillable="true" type="q158:PersonLead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Getemployeedetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q159:guid" />
        <xs:element xmlns:q160="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="EmpId" type="q160:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetemployeedetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetemployeedetailsResult" nillable="true" type="q161:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getempbasedonteam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q162:guid" />
        <xs:element xmlns:q163="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="TeamId" type="q163:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getempbasedonteamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="getempbasedonteamResult" nillable="true" type="q164:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignLeadToEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q165:guid" />
        <xs:element xmlns:q166="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="EmpId" type="q166:guid" />
        <xs:element xmlns:q167="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LeadId" nillable="true" type="q167:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignLeadToEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignLeadToEmployeeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddsurveyMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q168:SurveyMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddsurveyMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddsurveyMasterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaseManagmentStageList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q169:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaseManagmentStageListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetCaseManagmentStageListResult" nillable="true" type="q170:ArrayOfCaseManagmentStageName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaseDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q171:guid" />
        <xs:element xmlns:q172="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CMId" type="q172:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaseDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetCaseDetailsResult" nillable="true" type="q173:CaseManagment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeCaseManagmentStage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q174:guid" />
        <xs:element xmlns:q175="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CaseId" type="q175:guid" />
        <xs:element xmlns:q176="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StageId" type="q176:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeCaseManagmentStageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="changeCaseManagmentStageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q177:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPersonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q178:Department" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDepartmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDesignation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q179:Designation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDesignationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDesignationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGender">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q180:Gender" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGenderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q181:Language" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLanguageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLanguageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q182:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLocationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSalutation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q183:Salutation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSalutationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSalutationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q184:Team" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTeamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q185:Country" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCountryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q186:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetCountryLstResult" nillable="true" type="q187:ArrayOfCountry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q188:State_Provience_County" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q189:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q190="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetStateLstResult" nillable="true" type="q190:ArrayOfState_Provience_County" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSQuesLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q191:guid" />
        <xs:element xmlns:q192="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DealStageId" type="q192:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSQuesLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q193="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetDSQuesLstResult" nillable="true" type="q193:ArrayOfDealStageQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSQuesTypeLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q194="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q194:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSQuesTypeLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q195="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetDSQuesTypeLstResult" nillable="true" type="q195:ArrayOfDealStageQuestionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHtmlControlNameLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q196="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q196:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHtmlControlNameLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q197="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetHtmlControlNameLstResult" nillable="true" type="q197:ArrayOfHtmlControlName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q198="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q198:City" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q199="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q199:Person_Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q200="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="AddPersonCompanyResult" type="q200:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDealStageName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q201="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q201:DealStageName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDealStageNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDealStageNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDSQuesMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q202="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q202:DealStageQuestionMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDSQuesModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDSQuesModeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPipeLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q203="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q203:PipeLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPipeLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPipeLineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDealStageQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q204="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q204:DealStageQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDealStageQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q205="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="AddDealStageQuestionsResult" type="q205:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDSQuestionValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q206="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="table" nillable="true" type="q206:DealStageQuestionValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDSQuestionValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDSQuestionValuesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPipeLineLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q207="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q207:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPipeLineLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q208="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetPipeLineLstResult" nillable="true" type="q208:ArrayOfPipeLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q209="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrgId" type="q209:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q210="http://schemas.datacontract.org/2004/07/DataAccess" minOccurs="0" name="GetCityLstResult" nillable="true" type="q210:ArrayOfCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>